POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=etl_raptor
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password

PRODUCT_API_URL=http://api:8000/products
SALES_CSV_PATH=data/sales.csv
CUSTOMERS_JSON_PATH=data/customers.json

LOG_LEVEL=INFO
ETL_BATCH_SIZE=1000
ETL_LAST_RUN_FILE=data/last_run.txt
