# PostgreSQL
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/salesdb

# API
PRODUCTS_API_URL=https://fakestoreapi.com/products

# ETL
CSV_PATH=./data/sales.csv
CUSTOMERS_JSON=./data/customers.json

# Scheduling
SCHEDULE_CRON=0 0 * * *  # daily at midnight
