POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=salesdb
POSTGRES_HOST=db
POSTGRES_PORT=5432

PRODUCTS_API_URL=https://fakestoreapi.com/products

ETL_BATCH_DIR=data
CSV_SALES_FILE=data/sales.csv
JSON_CUSTOMERS_FILE=data/customers.json

INCREMENTAL=true
LAST_RUN_FILE=.lastrun
